- if not user_signed_in?
	%div.hero-unit
		%h1 Hier wird gelobt!
		%p Wenn du dich anmeldest, dann kannst du deine Facebook Freunde loben! 

%h2 und mal ehrlich, die Leute können doch echt was!

- @lobs.each do |lob|
	- if lob.author.nil?
		%p there seems to be a problem w/ author of lob
	-else
		= image_tag "https://graph.facebook.com/#{lob.author_fb_id}/picture?type=small", :alt => "#{lob.author}"
		%p #{lob.author} sagt
		%p
			= image_tag "https://graph.facebook.com/#{lob.user_fb_id}/picture?type=small", :alt => "#{lob.author}"
			#{lob.user}, das haste richtig gut gemacht: '#{lob.description}'
		%hr