- if not user_signed_in?
	%div.hero-unit
		%h1 Hier wird gelobt!
		%p Wenn du dich anmeldest, dann kannst du deine Facebook Freunde loben! 

%h2 und mal ehrlich, die Leute können doch echt was!

- @lobs.each do |lob|
	%div#sprechblase
		%p #{lob.author.name} sagt
		%p
			#{lob.user.name}, das haste richtig gut gemacht: '#{lob.description}'
	= image_tag "https://graph.facebook.com/#{lob.author.uid}/picture?type=small", :alt => "#{lob.author.uid}"
		