%h2 Lobs

.span8
  %table.table.table-condensed
    %thead
      %tr
        %th Description
        %th Published
        %th
    %tbody
      - @lobs.each do |lob|
        %tr
          %td= lob.description
          %td= lob.published
          %td
            %a.btn.btn-mini{"data-toggle" => "modal", :href => "#lob-edit-#{lob.id}", :type => "button"} edit
            = render lob
            = link_to 'destroy', lob, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini' unless lob.author == current_user
            