%p#notice= notice

%p
	= image_tag "https://graph.facebook.com/#{@lob.author_fb_id}/picture?type=small", :alt => "#{@lob.author}"
	%p #{@lob.author} sagt
	%p
		= image_tag "https://graph.facebook.com/#{@lob.user_fb_id}/picture?type=small", :alt => "#{@lob.author}"

		#{@lob.user}, das haste richtig gut gemacht: '#{@lob.description}'
		.fb-like{"data-action" => "like", "data-href" => "http://localhost:3000/lobs/1", "data-colorscheme" => "light", "data-layout" => "standard", "data-send" => false, "data-show-faces" => false, "data-width" => "450"}