!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "haste gut gemacht!"
      %meta{:content => content_for?(:description) ? yield(:description) : "haste gut gemacht!", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    .navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        .content
          .row
            .span2
              - if current_user
                %p Hey <em>#{current_user.name}</em>, thanks for dropping by and say some litte good to your friends
                %p on the right you see what others have said lately, but you should #{link_to 'say some good', new_lob_url}!
              - else
                %p Please #{link_to 'sign in', signin_url} so that you can leave a good saying about a friend
            .span10
              = render 'layouts/messages'
              = yield
          %footer
      / ! end of .container
    / ! end of #main
