<!DOCTYPE html>
<html>
<head>
	<title>haste gut gemacht</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>

	<script type="text/javascript">
	// If our app is not loaded in a canvas, refresh and load inside a canvas
	if (window == window.top) {
		window.top.location = "<%= facebook_iframed_url %>";
	}

	// This is where we store the session data
	window.Application = {};
	window.Application.meta = <%= raw page_metadata.to_json %>;
	</script>
</head>
<body>
	<div class="container">
		<p><a href="/lobs/new">new</a></p>
	</div>
	
	<div id="fb-root"></div>
		<div class="sidebar">
			<%= yield %>
		</div>
	</div>

	<div class="fb-like" data-href="http://apps.facebook.com/hgg-develop" data-width="450" data-show-faces="true" data-send="true"></div>

<script type="text/javascript">
    // Enable CJAX browsing (ie: PushState on smart browsers, full top redirects for IE.)
    initCJAX(window);
</script>
</body>
</html>